<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab One
        </ion-title>
        <ion-buttons slot="end">
            <ion-label margin>Slow</ion-label>
            <ion-toggle [checked]="slowEnabled" (ionChange)="toggleSpeed($event)"></ion-toggle>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="grid">
        <div *ngFor="let item of gridItems; let i = index"
            class="grid-item"
            (click)="viewDetail($event, item, i)">
            <div class="loader" *ngIf="i === loadingIndex">
                <ion-spinner></ion-spinner>
            </div>
            <img [src]="item.image" />
        </div>
    </div>
</ion-content>