.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px 200px;
    grid-gap: 5px;
    padding: 5px;

    .grid-item {
        width: 100%;
        height: 100%;
        position: relative;
        &:nth-child(10n - 6), &:nth-child(10n) {
            grid-column: span 2;
        }
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .loader {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            background: rgba(black, .5);
            animation: fadein .25s ease .1s forwards;
            ion-spinner {
                color: white;
            }
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        }
    }
}
